.navbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 40px;
    background: rgba(26, 34, 56, 0.8);
    backdrop-filter: blur(6px);
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffde7d;
    letter-spacing: 1px;
    font-style:italic;
}

.nav-links a{
    color: #f1e9da;
    text-decoration: none;
    display: flex;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.nav-links a:hover {
    background: rgba(255, 222, 125, 0.1); 
}

.nav-links a.active {
    color: #ff8800;
    font-weight: bold;
    pointer-events: none;
}

.nav-links {
    display: flex;
    margin: 0;
}


