<ul class="book-list">
@for (book of books; track book.id){
    <li class="book-card">

        <div class="book-cover">
            <img [src]= "'assets/bookCovers/'+book.coverImgUrl"/>
        </div>
        @if (book.isEditing){
            <form class="book-details" (ngSubmit)="updateBook(book)">

                <p><strong>Title:</strong>
                    <input [(ngModel)]="book.title" name="title" required />
                </p>

                <p><strong>Rating:</strong>
                    <input type="number" [(ngModel)]="book.rating" name="rating" min="0" max="5" 
                    (input)="book.rating = validateNum(book.rating,0,5)" />
                </p>

                <p><strong>Cover Image Url:</strong>
                <input [(ngModel)]="book.coverImgUrl" name="coverImgUrl" />
                </p>

                <p><strong>Author:</strong>
                <input [(ngModel)]="book.author" name="author" />
                </p>

                <p><strong>Genre:</strong>
                <input [(ngModel)]="book.genre" name="genre" />
                </p>

                <p><strong>Description:</strong>
                <input [(ngModel)]="book.description" name="description" />
                </p>

                <p><strong>Publisher:</strong>
                <input [(ngModel)]="book.publisher" name="publisher" />
                </p>

                <p><strong>Price:</strong>
                <input type="number" [(ngModel)]="book.price" name="price"
                (input)="book.price = validateNum(book.price,0)" />
                </p>

                <p><strong>Status:</strong>
                <input [(ngModel)]="book.status" name="status" />
                <p><strong>Quantity Stock:</strong>
                <input type="number" [(ngModel)]="book.quantityStock" name="quantityStock" 
                (input) = "book.quantityStock = validateNum(book.quantityStock,0)"/>
                </p>

                <button type="submit" style="display: none;"></button>
            </form>
        }
        @else{
            <div class="book-details">
                <h3 class="book-title">{{ book.title }}</h3>

                <p class="rating">
                    @if (book.rating !== undefined){
                        <span class="stars" [style.--rating]="book.rating"></span>
                        <span>({{ book.rating.toFixed(1) }})</span>
                    }
                </p>

                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Genre:</strong> {{ book.genre }}</p>
                <p><strong>Description:</strong> {{ book.description }}</p>
                <p><strong>Publisher:</strong> {{ book.publisher }}</p>
                <p><strong>Price:</strong> ₱{{ book.price }}</p>
                <p><strong>Status:</strong> {{ book.status }} ({{ book.quantityStock }})</p>
            </div>
        }

        <div class="book-actions">
            <button (click)="editBook(book)"    style="background-color:#ffde7d;color:#111729;"> {{book.isEditing ? 'Save' : 'Edit'}}</button>
            <button (click)="deleteBook(book)" style="background-color:#b85042;color:#f1e9da;">Remove</button>
        </div>
    </li>
}
</ul>