<landing-page
    sectionTitle = "Featured Books"
    sectionText = "Welcome to The Evening Pages, where every story unfolds like the gentle transition from day to night. 
    Here, narratives breathe with life, characters dance in the amber light, and imagination knows no bounds. 
    Explore our curated collection of tales that warm the heart and ignites the mind.">

    <div section-actions>
        <button class = "btn-secondary" (click)="switchAdmin()">Admin Switch Tester</button>
        @if (user?.admin) {
            <button (click) = "createBook()"> 
                Create Book
            </button>
        }
    </div>

    <div section-body>
        @if (user?.admin) {
            <admin-booklist #adminBookList></admin-booklist>
        }
        @else {
            <user-booklist></user-booklist>
        }
    </div>
</landing-page>
