
<button (click) = "createBook()"> 
    Create Book
</button>

<ul class="book-list">
    @for (book of books; track book.id){
        @if (book.isEditing){
            <app-admin-card [book]="book"
            (update)="updateBook($event)">
                <div class="book-actions">
                    <button class = "btn-warning" (click)="editBook(book)"> {{book.isEditing ? 'Save' : 'Edit'}}</button>
                    <button class = "btn-danger" (click)="deleteBook(book)">Remove</button>
                </div>
            </app-admin-card>
        }
        @else{
            <app-book-card [book]="book">
                <div class="book-actions">
                    <button class = "btn-warning" (click)="editBook(book)"> {{book.isEditing ? 'Save' : 'Edit'}}</button>
                    <button class = "btn-danger" (click)="deleteBook(book)">Remove</button>
                </div>
            </app-book-card>
        }
    }
</ul>