.book-list { 
  padding: 0;
  list-style: none;
}

.book-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.3rem 0;
  width: 100%;
}

.book-actions button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(0.875rem, 2vw, 1.2rem);
  letter-spacing: 0.5px;
  background-color: #ffde7d;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}