.book-list {
  padding: 0;
}

.book-actions {
  max-width: 150px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.3rem 0;

}

.book-actions button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}