/* You can add global styles to this file, and also import other style files */
button {
  padding: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 20px;
}

button:hover {
  transform: scale(1.1);
  filter: brightness(1.5);
}

@import "~bootstrap-icons/font/bootstrap-icons.css";

